<!--footer-->

<footer class="container-fluid" id="footer">
    <div class="container container-fix">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <small><strong>Info</strong></small>
                <hr>
                <a href="http://info.ajsjee.com/information/about-ajsjee"><small>About ajsjee.com</small></a>
                <br />
                <a href="http://info.ajsjee.com/information/about-agent"><small>What is an Agent?</small></a>
                <br />
                <a href="http://info.ajsjee.com/information/why-register-my-company"><small>Why should I register my company?</small></a>
                <br />
                <a href="http://info.ajsjee.com/information/ajsjee-safety-tips"><small>Safety tips</small></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <br class="visible-xs"/>
                <small><strong>Legal</strong></small>
                <hr>
                <a href="http://info.ajsjee.com/legal/disclaimer"><small>Disclaimer</small></a>
                <br />
                <a href="http://info.ajsjee.com/legal/posting-policy"><small>Posting Policy</small></a>
                <br />
                <a href="http://info.ajsjee.com/legal/privacy-policy"><small>Privacy Policy</small></a>
                <br />
                <a href="http://info.ajsjee.com/legal/cookie-policy"><small>Cookie Policy</small></a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <br class="visible-xs"/>
                <small><strong>Follow us</strong></small>
                <hr>
                <div class="row follow-us">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                        <div class="social-icon facebook-color">
                            <a href="https://www.facebook.com/ajsjeecom">
                                <img src="app/images/social-icons/facebook.png" alt="facebook" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                        <div class="social-icon twitter-color">
                            <a href="https://twitter.com/intent/user?screen_name=ajsjeedotcom">
                                <img src="app/images/social-icons/twitter.png" alt="twitter" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12">
                <br class="visible-xs"/>
                <small><strong>Contact</strong></small>
                <hr>
                <small>Email:</small>
                <a href="mailto:support@ajsjee.com"><small>support@ajsjee.com</small></a>
            </div>
        </div>
        <br />
    </div>
    <div class="clearfix"></div>
</footer>


<div class="container-fluid copyright">
    <div class="container container-fix">
        <small>
            &copy; 2014
            <a href="#!/home">ajsjee.com</a>
        </small>
    </div>
</div>