<div ng-controller="headerCtrl">
    <div ng-include="'app/views/header.html'"></div>
</div>

<!-- home unauthenticated -->

<div class="container-fluid slideshow">
    <div id="slideshow">
        <div>
            <img src="app/images/carousel images/event.jpg" alt="" class="img-responsive" />
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                    <h1>Tap the right people to get the job done</h1>
                </div>
            </div>
        </div>
        <div>
            <img src="app/images/carousel images/fuji.jpg" alt="" class="img-responsive" />
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                    <h1>Access tours that best suit you</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fix home-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
                    <hr style="border-top: 1px solid rgba(0,0,0,.3);" />
                </div>
            </div>
            <h1 style="line-height: 1.5em">AngularJS, JEE, PostgreSQL<br />Demo website</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
                    <hr style="border-top: 1px solid rgba(0,0,0,.3);" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

<br class="hidden-sm hidden-xs" />

<!--footer-->

<div ng-controller="footerCtrl">
    <div ng-include="'app/views/footer.html'"></div>
</div>