<div ng-controller="headerCtrl">
    <div ng-include="'app/views/header.html'"></div>
</div>

<!-- home unauthenticated -->

<div class="container-fluid slideshow">
    <div id="slideshow">
        <div>
            <img src="app/images/carousel images/event.jpg" alt="" class="img-responsive" />
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                    <h1>Tap the right people to get the job done</h1>
                </div>
            </div>
        </div>
        <div>
            <img src="app/images/carousel images/fuji.jpg" alt="" class="img-responsive" />
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                    <h1>Access tours that best suit you</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fix home-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
                    <hr style="border-top: 1px solid rgba(0,0,0,.3);" />
                </div>
            </div>
            <h1 style="line-height: 1.5em">We make service providers<br />easily accessible to you</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
                    <hr style="border-top: 1px solid rgba(0,0,0,.3);" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-3"
             ng-click="(hasService) ? manageService() : createService()"
             ng-init="serviceProviderImage = 'app/images/ajsjee-icons/service-provider-plain.png'"
             ng-mouseover="serviceProviderImage = 'app/images/ajsjee-icons/service-provider-plain-light.png'"
             ng-mouseleave="serviceProviderImage = 'app/images/ajsjee-icons/service-provider-plain.png'">
            <img ng-src="{{serviceProviderImage}}"
                 class="img-responsive" alt="service-provider.png" />
            <h4 class="text-center service-provider" ng-hide="hasService">Be a service provider</h4>
            <h4 class="text-center service-provider" ng-show="hasService">Manage my Services</h4>
            <br class="visible-xs" />
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
            <br class="hidden-xs" />
            <h4>Start offering your services by following these four simple steps</h4>
            <p>1. Click <strong><a href="" ng-click="createService()">Post free ad</a></strong></p>
            <p>2. Choose <strong>Category</strong> > <strong>Service</strong> > <strong>I am providing a service</strong>.</p>
            <p>3. Fill-up the details as a service provider then save.</p>
            <p>4. Add service packages or items for rent under the service you have just created.</p>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <br />
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 visible-xs"
             ng-click="(hasCompany) ? manageMyCompany() : registerCompany()"
             ng-init="companyImage = 'app/images/ajsjee-icons/company-plain.png'"
             ng-mouseover="companyImage = 'app/images/ajsjee-icons/company-plain-light.png'"
             ng-mouseleave="companyImage = 'app/images/ajsjee-icons/company-plain.png'">
            <img ng-src="{{companyImage}}"
                 class="img-responsive" alt="company.png" />
            <h4 class="text-center company" ng-hide="hasCompany">Register your company</h4>
            <h4 class="text-center company" ng-show="hasCompany">Manage my company</h4>
            <br class="visible-xs" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-1">
            <br class="hidden-xs" />
            <h4>Once you have registered your company with ajsjee.com you can enjoy these awesome perks</h4>
            <p>1. User friendly configurable website</p>
            <p>2. Dedicated subdomain
                <br />ie. thetravelcompany.ajsjee.com</p>
            <p>3. Ability to create premium services like <i>travel and booking agent</i></p>
            <p>4. Search Engine Optimization assistance.</p>
            <p>5. IT support priority</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-lg-offset-1 col-md-offset-1 hidden-xs"
             ng-click="(hasCompany) ? manageMyCompany() : registerCompany()"
             ng-init="companyImage = 'app/images/ajsjee-icons/company-plain.png'"
             ng-mouseover="companyImage = 'app/images/ajsjee-icons/company-plain-light.png'"
             ng-mouseleave="companyImage = 'app/images/ajsjee-icons/company-plain.png'">
            <img ng-src="{{companyImage}}"
                 class="img-responsive" alt="company.png" />
            <h4 class="text-center company" ng-hide="hasCompany">Register your company</h4>
            <h4 class="text-center company" ng-show="hasCompany">Manage my company</h4>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <br />
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-3"
             ng-click="(isAgent) ? manageMyAgent() : registerAsAgent()"
             ng-init="agentImage = 'app/images/ajsjee-icons/agent-plain.png'"
             ng-mouseover="agentImage = 'app/images/ajsjee-icons/agent-plain-light.png'"
             ng-mouseleave="agentImage = 'app/images/ajsjee-icons/agent-plain.png'">
            <img ng-src="{{agentImage}}"
                 class="img-responsive" alt="agent.png" />
            <h4 class="text-center agent" ng-hide="isAgent">Be an agent</h4>
            <h4 class="text-center agent" ng-show="isAgent">Manage my agent account</h4>
            <br class="visible-xs" />
        </div>
        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1">
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <h4>An agent is an online representative of skilled workers who don’t know how to use the Internet.
                <br />An agent earn through referral fees.</h4>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <br />
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 visible-xs"
             ng-click="(hasJobpost) ? manageJobpost() : showJobpostModal()"
             ng-init="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain.png'"
             ng-mouseover="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain-light.png'"
             ng-mouseleave="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain.png'">
            <img ng-src="{{jobOpeningImage}}"
                 class="img-responsive" alt="job-opening.png" />
            <h4 class="text-center job-opening"
                ng-hide="hasJobpost">Looking for service</h4>
            <h4 class="text-center job-opening"
                ng-show="hasJobpost">Manage my Job Postings</h4>
            <br />
        </div>
        <button ng-show="" data-toggle="modal" data-target="#jobpostTypeModal" id="jobpostTypeModalButton">show</button>
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-1">
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <br class="hidden-xs" />
            <h4>Looking for a service provider to assist you in your project or simply looking for household assistants?
                <br /><a href="#!/postad"><strong>Create an ad for free.</strong></a></h4>
            <br />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col-lg-offset-1 col-md-offset-1 hidden-xs"
             ng-click="(hasJobpost) ? manageJobpost() : showJobpostModal()"
             ng-init="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain.png'"
             ng-mouseover="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain-light.png'"
             ng-mouseleave="jobOpeningImage = 'app/images/ajsjee-icons/job-opening-plain.png'">
            <img ng-src="{{jobOpeningImage}}"
                 class="img-responsive" alt="job-opening.png" />
            <h4 class="text-center job-opening"
                ng-hide="hasJobpost">Looking for service</h4>
            <h4 class="text-center job-opening"
                ng-show="hasJobpost">Manage my Job Postings</h4>
        </div>
    </div>
    <br />
    <br />
</div>

<br class="hidden-sm hidden-xs" />

<!--JobpostType Modal-->

<div class="modal fade" id="jobpostTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center" id="jobpostTypeModalLabel">Choose Premium Job Post Package</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <br />
                    <h3 ng-init="jobpostType = 'premium'">
                        <label>
                            <input type="radio" name="jobpostType" ng-model="jobpostType" value="premium" />&nbsp; Try our premium job post for free
                        </label>
                        <br />
                        <br />
                        <label>
                            <input type="radio" name="jobpostType" ng-model="jobpostType" value="free" />&nbsp; Free job post
                        </label>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm"
                        ng-click="redirectToManageJobpost()">
                    Ok
                </button>
                <button type="button" class="btn btn-warning btn-sm"
                        data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!--footer-->

<div ng-controller="footerCtrl">
    <div ng-include="'app/views/footer.html'"></div>
</div>