Test IDs <br/>

<br/>
<b>Case 1</b>
<br/>

Appuser: 1 - FB, Appuser only. <br/>
Appuser: 21 - GG, Appuser only. <br/>
Appuser: 22 - TW, Appuser only. <br/>
Appuser: 23 - LI, Appuser only. <br/>

<br/>
<b>Case 2</b>
<br/>

Appuser: 2 - Complete data but not under an agent since the ID is an agent. Not expired agent <br/>

<br/>
<b>Case 3</b>
<br/>

Appuser: 3 - A service provider under a NON Expired agent. Nothing more. Service ID # 51 to 55. This should show Agent number in the profile. <br/>

<br/>
<b>Case 4</b>
<br/>

Appuser: 4 - A service provider under an EXPIRED agent (Appuser #5). Nothing more. Service ID # 56 to 60. This should show SP number. <br/>

<br/>
<b>Case 5</b>
<br/>

Appuser: 5 - An Expired Agent, A Company, with zero Service providers and zero employee. Service ID # 61 to 65 <br/>

<br/>
<b>Case 6</b>
<br/>

Appuser: 6 - Nothing but profile <br/>

<br/>
<b>Case 7</b>
<br/>

Register from scratch, use your own account <br/>

<br/>
<b>General notes: </b><br/>
1. Appuser #2 to #15 have profiles <br/>


